@import '~bootstrap/dist/css/bootstrap.min.css';

.responsive {
  height: 200px;
  width: 200px;
  opacity: 0.5;
}

.part-of-image{
  height: 50px;
  width: 50px;
  //display: block;
  transition: all 0.2s ease-out;
}
